h1 {
  text-align: right;
  font-size: 20px;
  font-family: serif;
  color: orange;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
  margin: 20px 130px 20px 130px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: serif;
  color: orange;
  padding-bottom: 15px;
  border-bottom: 2px solid gray;
  margin: 20px 130px 20px 130px;
}

#freshorigins {
  margin-left: 130px;
  width: 55%;
}

.links {
  margin-top: -300px;
  margin-left: 845px;
}

#animated {
  margin-left: 925px;
}

#book {
  margin-top: -20px;
  margin-left: 845px;
}

#Abeliophyllum {
  margin-left: 130px;
  width: 400px;
  height: 400px;
}

.AbeliophyllumPara1 {
  margin-top: -310px;
  margin-left: 535px;
  margin-right: 130px;
}

.AbeliophyllumPara2 {
  margin-top: -5px;
  margin-left: 535px;
  margin-right: 130px;
}

.AbeliophyllumPara3 {
  margin-top: -5px;
  margin-left: 535px;
  margin-right: 130px;
}

#AbeliophyllumPdf {
  margin-top: -5px;
  margin-left: 535px;
}

#Agerantum {
  margin-left: 130px;
  width: 500px;
  height: 35 0px;
}

.AgerantumPara1 {
  margin-top: -310px;
  margin-left: 635px;
  margin-right: 130px;
}

.AgerantumPara2 {
  margin-top: -5px;
  margin-left: 635px;
  margin-right: 130px;
}

.AgerantumPara3 {
  margin-top: -5px;
  margin-left: 635px;
  margin-right: 130px;
}

#AgerantumPdf {
  margin-top: -5px;
  margin-left: 635px;
}

h3 {
  text-align: left;
  margin-left: 130px;
}

.feedback {
  margin-left: 130px;
  shape-outside: padding-box;
}

.records {
  margin-left: 130px;
}

button {
  font-size: 13px;
}

.comments {
  margin-left: 130px;
  font-weight: normal;
}

#commentBox {
  margin-left: 70px;
}

hr {
  margin: 15px 130px 15px 130px;
}

.login {
  font-size: 20px;
}

h4 {
  font-size: 30px;
  color: orange;
}

#commentsToShow {
  margin-left: 130px;
  width: 800px;
  height: 1000px;
}
